/* color */

:root {
  --primary-green: #01635d;
  --secondary-green: #b7dfdb;
  --medium-green: #089083;

  --primary-orange: #fea36b;
  --secondary-orange: #ffdda2;

  --primary-white: #fff;
  --secondary-white: #f5f5f5;
  --medium-white: #fafafa;

  --primary-grey: #727272;
  --secondary-grey: #b6b6b6;

  --primary-black: #050505;

  --primary-red: #ff3636;

  --skeleton-background: rgb(209, 209, 209);
  --skeleton-foreground-color: #ecebeb;
}

::-webkit-scrollbar {
  width: 0;
}
