.line-with-text {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
}

.line-with-text::before,
.line-with-text::after {
  content: '';
  display: inline-block;
  width: 50%;
  height: 1px;
  background-color: var(--primary-grey);
  vertical-align: middle;
}

.line-with-text::before {
  margin-right: 0.5em;
}

.line-with-text::after {
  margin-left: 0.5em;
}
