.search-input {
  border-radius: 1rem;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  caret-color: transparent;
  font-family: Poopins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--primary-grey);
  text-indent: 12px;
}
