.start-step-img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}
.start-step-title {
  position: absolute;
  top: 60%;
  transform: translate(20%, 50%);
  width: 15.125rem;
  height: auto;
  color: var(--light-text-primary, #050505);
  text-align: center;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
  text-align: center;
}
