.home-page__section {
  margin-top: 60px;
}

.home-page-description {
  display: flex;
  gap: 8px;
  margin: 10px 0 20px 0;
  flex-direction: column;
}

.home-page__description-title  {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 108%;
  color: 'var(--primary-black)';
}
.home-page__description-subtitle  {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: 'var(--primary-black)';
}
