.booking-select-ticket-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 76vh;
  gap: 30px;
  overflow-y: scroll;
  margin-top: 6rem;
  scroll-snap-type: y mandatory;
  padding: 0 1rem;
}
.booking-select-ticket {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.booking-select-ticket-items__title {
  position: absolute;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  bottom: 12px;
}
.booking-select-ticket-items__main-title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -180%);
}

.booking-select-ticket svg {
  height: 100%;
}

@media (min-width: 375px) {
  .booking-select-ticket::after {
    content: '';
    display: block;
    width: 100%;
    max-width: 315px;
    height: 1px;
    bottom: 48px;
    border: none;
    border-top: 1px dashed black;
    position: absolute;
  }
}
