.sign-up-mobile-title {
  color: var(--light-text-primary, #050505);
  text-align: center;

  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.sign-up-mobile-subtitle {
  color: var(--light-text-primary, #050505);
  text-align: center;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.sign-up-mobile-otp-input__container {
  justify-content: center;
  gap: 8px;
}
.sign-up-mobile-otp-input {
  position: relative;
  display: flex;
  width: 26px !important;
  height: 26px !important;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background: var(--light-background-element, #fff);
  color: #000;
  border: none;
  outline: none;
  margin: 0 !important;
  caret-color: transparent;
  color: var(--light-text-primary, #050505);
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-mobile-otp-input::placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-text-primary, #050505);
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}

.sign-up-mobile-otp-input:focus::placeholder {
  transition: 0.1s ease opacity;
  opacity: 0;
}

.input-main {
  position: relative;
  width: 311px;
  height: 22px;
  background: var(--primary-white);
  padding: 1rem;
  border-radius: 15px;
  border: none;
  outline: none;
  caret-color: transparent;
}

/* Стили для инпутов в случае ошибки */
.input-main.error {
  background: #fbe6e6; /* Возможное изменение фона для визуализации ошибки */
}

/* Стили для сообщений об ошибках */
.errorMessage {
  color: #e74c3c;
  font-size: 0.875rem;
  font-family: Poppins;
  margin-top: 0.625rem;
}
