@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('./styles/variables.css');

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

html {
  height: 100%;
}

ol,
ul {
  list-style: none;
}

body {
  line-height: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--secondary-white);
}
