.start-step-track {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;
  width: 100%;
}

.start-step-track span {
  width: 7.5rem; /* Вместо фиксированной ширины */
  height: 3px;
  border-radius: 50px;
}

.grey-span {
  background: rgba(5, 5, 5, 0.3);
}

.black-span {
  background: var(--primary-black);
}
