/* Initial styles for the entering element (when it's hidden) */
.fade-in-enter {
  opacity: 0;
  transform: translateX(1rem);
  transition:
    opacity 300ms,
    transform 300ms; /* Use the same duration as exit-active */
}

/* Active styles for the entering element (when it becomes visible) */
.fade-in-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 300ms,
    transform 300ms; /* Use the same duration as enter */
}

/* Initial styles for the exiting element (when it starts to disappear) */
.fade-in-exit {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 300ms,
    transform 300ms;
}

/* Active styles for the exiting element (when it's hidden) */
.fade-in-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition:
    opacity 300ms,
    transform 300ms;
}
