.startPage-logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

.startPage-logo-title {
  color: var(--primary-white);
  text-align: center;
  font-family: Merriweather;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
