.filter-list-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter-button {
  flex: 1;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--primary-black);
  border: none;
  border-radius: 7px;
  background-color: transparent;
  height: 24px;
  padding: 0 5px;
  margin: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
}

.filter-button.active {
  background-color: var(--medium-green);
  color: var(--primary-white);
}
