.input-select {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 20px;
    height: 54px;
    padding: 20px 10px 0px 16px;
    appearance: none;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: black;
  }
  
  .input-select__label {
    position: absolute;
    transform: translate(50%, 50%);
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    text-align: center;
    color: #727272;
    max-width: 32px;
    width: 100%;
    z-index: 1;
  }