.button-main {
  display: flex;
  padding: 1rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.25rem;
  border: none;
  outline: none;
  border-radius: 1.25rem;
  text-align: center;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  min-height: 3.75rem;
}
